<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
</head>
<body>
  <%= yield %>
</body>
</html>
