<h2>Add a new course!</h2>
<form action="/courses" method="post">
	<p>Course Name:</p><input name="name"></input>
	<p>Course Teacher:</p><input name="professor"></input>
	<p>Course Credits:</p><input name="credits"></input>
	<input type="submit" />
</form>