<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>ADD COURSE</h1>
    <form class="" action="/courses" method="post">
      <p> Course Name: <input type="text" name="course[name]" value=""></p>
      <p> Professor Name: <input type="text" name="course[professor]" value=""></p>
      <p> Credit Number: <input type="text" name="course[credits]" value=""></p>
      <input type="submit" name="" value="add course">
    </form>
    <a href="/courses">Return to course list</a>
  </body>
</html>
